#TaskBar{
    height: 40px;
    background-color: lightblue;
      
}
.HomeImage{
    width: 30px;
    margin-top: 1px;
    border-right:1px solid white;
    padding: 4px;
    float: left;
}
.ElementStyle{
    float: left;
    width:200px;
    margin-top: -2px;
    margin-left: 0px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: center;
    padding: 10px;
    border-right: 1px solid white;
    color:gray;
    ;


}
#WelcomeTab{
    text-align: center;

}
#WelcomeNote{
    margin: 2% auto;
    font-size: 28px;

}

#circle{
    background-color: green;    
    width: 200px;
    height: 200px;
    border-radius: 50%;}

#EmployeeName{
    font-size: 18px;
}

#TaskList{
    align-content: left;

}